In [64]:
#Adding simple Plotly Graph
import pandas as pd
import json
import plotly
import plotly.express as px


#Adding import yfinance as 
import yfinance as yf

In [65]:

# Return the JSON data for the Plotly graph
def gm(stock,period, interval):
    st = yf.Ticker(stock)
  
    # Create a line graph
    df_stock = st.history(period=(period), interval=interval)
    df_stock=  df_stock.reset_index()
    df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
    max = (df_stock['Open'].max())
    min = (df_stock['Open'].min())
    range = max - min
    margin = range * 0.05
    max = max + margin
    min = min - margin
    fig_stock = px.area(df_stock, x='Date-Time', y="Open",
        hover_data=("Open","Close","Volume"), 
        range_y=(min,max), template="seaborn" )

    # Create a JSON representation of the graph
    graphJSON_stock = json.dumps(fig_stock, cls=plotly.utils.PlotlyJSONEncoder)
    return df_stock

In [66]:
#SAMPLE DATA!!!
# data=MSFT &Â period=1d & interval=1m

stock='MSFT'
period='5y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock=  df_stock.reset_index()
df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
max = (df_stock['Open'].max())
min = (df_stock['Open'].min())
range = max - min
margin = range * 0.05
max = max + margin
min = min - margin
fig_stock = px.line(df_stock, x='Date-Time', y="Open",hover_data=("Open","Close","Volume"), range_y=(min,max), template="seaborn" )

In [71]:
df_stock.head()
#df_stock.describe()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-04-17,60.713868,61.133933,60.685864,61.124603,16689300,0.0,0
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0
2,2017-04-19,61.283282,61.376629,60.573832,60.713856,26992800,0.0,0
3,2017-04-20,61.105921,61.376632,60.807206,61.143261,22299500,0.0,0
4,2017-04-21,61.301932,62.263420,61.096565,61.983379,32522600,0.0,0

In [72]:
import os
import requests

debugtoggle = True
# import alpaca_trade_api as tradeapi #####Commenting the deprecated way to call the API
from alpaca_trade_api.rest import REST, TimeFrame #Current way to import Alpaca API
from dotenv import load_dotenv 

# Load .env enviroment variables
load_dotenv()

# Set Alpaca API key and secret
api_key=os.getenv("ALPACA_API_KEY")

# Create the Alpaca API object
api_secret_key=os.getenv("ALPACA_SECRET_KEY")

In [73]:
# Format current date as ISO format
start_date = "2022-03-21"
end_date = "2022-03-21"

# Set the tickers
tickers = ["TSLA", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
api = REST(api_key , api_secret_key, api_version='v2')
stock_and_bond_prices = api.get_bars(tickers, TimeFrame.Day, start_date, end_date, adjustment='raw').df
#stock_and_bond_prices.index = stock_and_bond_prices.index.date

# Preview DataFrame
if (debugtoggle):
    print(f'{stock_and_bond_prices.head()}')
    #print(f'here {stock_and_bond_prices[["close","symbol"]]}')

                             open    high     low   close    volume  \
timestamp
2022-03-21 04:00:00+00:00  444.45  446.46  440.68  444.30  85377983
2022-03-21 04:00:00+00:00  915.05  942.85  907.09  921.16  27049677

                           trade_count        vwap symbol
timestamp
2022-03-21 04:00:00+00:00       912432  443.796432    SPY
2022-03-21 04:00:00+00:00       736831  922.470994   TSLA

In [13]:
# Pick AGG and SPY close prices
stock_and_bond_prices = stock_and_bond_prices[["close","symbol"]]
#rslt_df = dataframe[dataframe['Percentage'] > 80]
agg_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="TSLA"].iloc[0]["close"])
spy_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="SPY"].iloc[0]["close"])
# Print AGG and SPY close prices
print(f"Current TSLA closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

Current TSLA closing price: $921.16
Current SPY closing price: $444.3

In [14]:

# Set current amount of shares
my_agg = 200
my_spy = 50

my_spy = 50
my_agg = 200

# Compute the current value of shares
my_spy_value = my_spy * spy_close_price
my_agg_value = my_agg * agg_close_price

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:,.2f}")
print(f"The current value of your {my_agg} TSLA shares is ${my_agg_value:,.2f}")

The current value of your 50 SPY shares is $22,215.00
The current value of your 200 TSLA shares is $184,232.00

In [10]:

df_stock.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1260.000000,1260.000000,1260.000000,1260.000000,1.260000e+03,1260.000000,1260.0
mean,164.891628,166.491850,163.171267,164.923719,2.930228e+07,0.007794,0.0
std,80.696890,81.491664,79.815878,80.697962,1.299302e+07,0.062024,0.0
min,60.713841,61.133906,60.573820,60.713844,7.425600e+06,0.000000,0.0
25%,97.688186,98.200933,96.551552,97.631817,2.117492e+07,0.000000,0.0
50%,136.629491,137.618184,135.222233,136.346855,2.607120e+07,0.000000,0.0
75%,223.989738,225.890446,221.299655,222.882004,3.352010e+07,0.000000,0.0
max,343.908878,348.948476,341.493913,342.402008,1.112421e+08,0.620000,0.0

In [11]:
df_stock.head()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-04-17,60.713841,61.133906,60.685838,61.124577,16689300,0.0,0
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0
2,2017-04-19,61.283271,61.376618,60.573820,60.713844,26992800,0.0,0
3,2017-04-20,61.105905,61.376617,60.807191,61.143246,22299500,0.0,0
4,2017-04-21,61.301955,62.263443,61.096587,61.983402,32522600,0.0,0

In [12]:
df_stock.index=df_stock.index.date
df_stock=df_stock[['close', 'symbol']]

AttributeError: 'RangeIndex' object has no attribute 'date'

In [56]:
stock='U'
period='1y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock.loc[:,'Symbol'] = stock

In [57]:
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2021-04-15,102.000000,102.180000,100.540001,101.919998,2246900,0,0,U
2021-04-16,101.000000,101.580002,98.642998,100.739998,1980400,0,0,U
2021-04-19,99.800003,100.540001,96.570000,97.930000,2004500,0,0,U
2021-04-20,97.839996,99.169998,95.300003,97.400002,1994200,0,0,U
2021-04-21,96.650002,101.489998,94.550003,101.470001,2041000,0,0,U

In [58]:
type(st)

yfinance.ticker.Ticker

In [59]:
df_stock.loc[:,'Symbol'] = stock

In [60]:
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2021-04-15,102.000000,102.180000,100.540001,101.919998,2246900,0,0,U
2021-04-16,101.000000,101.580002,98.642998,100.739998,1980400,0,0,U
2021-04-19,99.800003,100.540001,96.570000,97.930000,2004500,0,0,U
2021-04-20,97.839996,99.169998,95.300003,97.400002,1994200,0,0,U
2021-04-21,96.650002,101.489998,94.550003,101.470001,2041000,0,0,U

In [61]:
st.info

{'zip': '94103-3104',
 'sector': 'Technology',
 'fullTimeEmployees': 5245,
 'longBusinessSummary': 'Unity Software Inc. creates and operates an interactive real-time 3D content platform. Its platform provides software solutions to create, run, and monetize interactive, real-time 2D and 3D content for mobile phones, tablets, PCs, consoles, and augmented and virtual reality devices. The company serves content creators and developers, artists, designers, engineers, and architects to create interactive and real-time 2D and 3D content. It offers its solutions directly through its online store, field sales operations, independent distributors, and resellers in the United States, Denmark, Belgium, Canada, China, Colombia, Finland, France, Germany, Ireland, Israel, Japan, Lithuania, Portugal, Singapore, South Korea, Spain, Sweden, Switzerland, and the United Kingdom. The company was founded in 2004 and is headquartered in San Francisco, California.',
 'city': 'San Francisco',
 'phone': '415 539 3162',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://unity.com',
 'maxAge': 1,
 'address1': '30 3rd Street',
 'industry': 'SoftwareâApplication',
 'ebitdaMargins': -0.36334,
 'profitMargins': -0.47959998,
 'grossMargins': 0.7765,
 'operatingCashflow': -111449000,
 'revenueGrowth': 0.434,
 'operatingMargins': -0.42148,
 'ebitda': -403503008,
 'targetLowPrice': 63,
 'recommendationKey': 'buy',
 'grossProfits': 862330000,
 'freeCashflow': 115161376,
 'targetMedianPrice': 145,
 'currentPrice': 89.13,
 'earningsGrowth': None,
 'currentRatio': 3.439,
 'returnOnAssets': -0.07788,
 'numberOfAnalystOpinions': 18,
 'targetMeanPrice': 143.69,
 'debtToEquity': 75.982,
 'returnOnEquity': -0.24037,
 'targetHighPrice': 194,
 'totalCash': 1737099008,
 'totalDebt': 1819303040,
 'totalRevenue': 1110525952,
 'totalCashPerShare': 5.907,
 'financialCurrency': 'USD',
 'revenuePerShare': 3.935,
 'quickRatio': 3.321,
 'recommendationMean': 1.8,
 'exchange': 'NYQ',
 'shortName': 'Unity Software Inc.',
 'longName': 'Unity Software Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'U',
 'messageBoardId': 'finmb_241908542',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 23.678,
 'beta3Year': None,
 'enterpriseToEbitda': -65.167,
 '52WeekChange': -0.08986008,
 'morningStarRiskRating': None,
 'forwardEps': -0.01,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 294095008,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 8.183,
 'sharesShort': 11050385,
 'sharesPercentSharesOut': 0.0376,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.74894994,
 'netIncomeToCommon': -532607008,
 'trailingEps': -1.887,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.05508423,
 'priceToBook': 10.892094,
 'heldPercentInsiders': 0.12442,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': 2.98,
 'sharesShortPreviousMonthDate': 1646006400,
 'floatShares': 191403121,
 'beta': None,
 'enterpriseValue': 26294921216,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 23.60385,
 'dateShortInterest': 1648684800,
 'pegRatio': -7.14,
 'ytdReturn': None,
 'forwardPE': -8913,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0749,
 'sharesShortPriorMonth': 9217592,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 94.03,
 'regularMarketOpen': 94.13,
 'twoHundredDayAverage': 123.64865,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 94.34,
 'navPrice': None,
 'averageDailyVolume10Day': 2941300,
 'regularMarketPreviousClose': 94.03,
 'fiftyDayAverage': 97.1782,
 'trailingAnnualDividendRate': 0,
 'open': 94.13,
 'toCurrency': None,
 'averageVolume10days': 2941300,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 88.65,
 'currency': 'USD',
 'regularMarketVolume': 2562879,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 26212687872,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 4186646,
 'dayLow': 88.65,
 'ask': 89.3,
 'askSize': 1000,
 'volume': 2562879,
 'fiftyTwoWeekHigh': 210,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 73.12,
 'bid': 89.18,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1100,
 'dayHigh': 94.34,
 'regularMarketPrice': 89.13,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/unity.com'}