In [2]:
#Adding simple Plotly Graph
import pandas as pd
import json
import plotly
import plotly.express as px


#Adding import yfinance as 
import yfinance as yf

In [3]:

# Return the JSON data for the Plotly graph
def gm(stock,period, interval):
    st = yf.Ticker(stock)
  
    # Create a line graph
    df_stock = st.history(period=(period), interval=interval)
    df_stock=  df_stock.reset_index()
    df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
    max = (df_stock['Open'].max())
    min = (df_stock['Open'].min())
    range = max - min
    margin = range * 0.05
    max = max + margin
    min = min - margin
    fig_stock = px.area(df_stock, x='Date-Time', y="Open",
        hover_data=("Open","Close","Volume"), 
        range_y=(min,max), template="seaborn" )

    # Create a JSON representation of the graph
    graphJSON_stock = json.dumps(fig_stock, cls=plotly.utils.PlotlyJSONEncoder)
    return df_stock

In [4]:
#SAMPLE DATA!!!
# data=MSFT &Â period=1d & interval=1m

stock='MSFT'
period='5y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock=  df_stock.reset_index()
df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
max = (df_stock['Open'].max())
min = (df_stock['Open'].min())
range = max - min
margin = range * 0.05
max = max + margin
min = min - margin
fig_stock = px.line(df_stock, x='Date-Time', y="Open",hover_data=("Open","Close","Volume"), range_y=(min,max), template="seaborn" )

In [7]:
df_stock.head()
df_stock.describe

<bound method NDFrame.describe of       Date-Time        Open        High         Low       Close    Volume  \
0    2017-04-17   60.713841   61.133906   60.685838   61.124577  16689300
1    2017-04-18   60.984562   61.339284   60.825872   61.040569  15155600
2    2017-04-19   61.283271   61.376618   60.573820   60.713844  26992800
3    2017-04-20   61.105905   61.376617   60.807191   61.143246  22299500
4    2017-04-21   61.301955   62.263443   61.096587   61.983402  32522600
...         ...         ...         ...         ...         ...       ...
1255 2022-04-08  300.440002  301.119995  296.279999  296.970001  24347400
1256 2022-04-11  291.790009  292.609985  285.000000  285.260010  34569300
1257 2022-04-12  289.239990  290.739990  280.489990  282.059998  30966700
1258 2022-04-13  282.730011  288.579987  281.299988  287.619995  21907200
1259 2022-04-14  288.089996  288.309998  279.320007  279.829987  28107900

      Dividends  Stock Splits
0           0.0             0
1           0.0             0
2           0.0             0
3           0.0             0
4           0.0             0
...         ...           ...
1255        0.0             0
1256        0.0             0
1257        0.0             0
1258        0.0             0
1259        0.0             0

[1260 rows x 8 columns]>

In [8]:
import os
import requests

debugtoggle = True
# import alpaca_trade_api as tradeapi #####Commenting the deprecated way to call the API
from alpaca_trade_api.rest import REST, TimeFrame #Current way to import Alpaca API
from dotenv import load_dotenv 

# Load .env enviroment variables
load_dotenv()

# Set Alpaca API key and secret
api_key=os.getenv("ALPACA_API_KEY")

# Create the Alpaca API object
api_secret_key=os.getenv("ALPACA_SECRET_KEY")

In [12]:
# Format current date as ISO format
start_date = "2022-03-21"
end_date = "2022-03-21"

# Set the tickers
tickers = ["TSLA", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
api = REST(api_key , api_secret_key, api_version='v2')
stock_and_bond_prices = api.get_bars(tickers, TimeFrame.Day, start_date, end_date, adjustment='raw').df
stock_and_bond_prices.index = stock_and_bond_prices.index.date

# Preview DataFrame
if (debugtoggle):
    print(f'{stock_and_bond_prices.head()}')
    #print(f'here {stock_and_bond_prices[["close","symbol"]]}')

              open    high     low   close    volume  trade_count        vwap  \
2022-03-21  444.45  446.46  440.68  444.30  85377983       912432  443.796432
2022-03-21  915.05  942.85  907.09  921.16  27049677       736831  922.470994

           symbol
2022-03-21    SPY
2022-03-21   TSLA

In [13]:
# Pick AGG and SPY close prices
stock_and_bond_prices = stock_and_bond_prices[["close","symbol"]]
#rslt_df = dataframe[dataframe['Percentage'] > 80]
agg_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="TSLA"].iloc[0]["close"])
spy_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="SPY"].iloc[0]["close"])
# Print AGG and SPY close prices
print(f"Current TSLA closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

Current TSLA closing price: $921.16
Current SPY closing price: $444.3

In [14]:

# Set current amount of shares
my_agg = 200
my_spy = 50

my_spy = 50
my_agg = 200

# Compute the current value of shares
my_spy_value = my_spy * spy_close_price
my_agg_value = my_agg * agg_close_price

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:,.2f}")
print(f"The current value of your {my_agg} TSLA shares is ${my_agg_value:,.2f}")

The current value of your 50 SPY shares is $22,215.00
The current value of your 200 TSLA shares is $184,232.00

In [10]:

df_stock.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1260.000000,1260.000000,1260.000000,1260.000000,1.260000e+03,1260.000000,1260.0
mean,164.891628,166.491850,163.171267,164.923719,2.930228e+07,0.007794,0.0
std,80.696890,81.491664,79.815878,80.697962,1.299302e+07,0.062024,0.0
min,60.713841,61.133906,60.573820,60.713844,7.425600e+06,0.000000,0.0
25%,97.688186,98.200933,96.551552,97.631817,2.117492e+07,0.000000,0.0
50%,136.629491,137.618184,135.222233,136.346855,2.607120e+07,0.000000,0.0
75%,223.989738,225.890446,221.299655,222.882004,3.352010e+07,0.000000,0.0
max,343.908878,348.948476,341.493913,342.402008,1.112421e+08,0.620000,0.0

In [11]:
df_stock.head()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-04-17,60.713841,61.133906,60.685838,61.124577,16689300,0.0,0
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0
2,2017-04-19,61.283271,61.376618,60.573820,60.713844,26992800,0.0,0
3,2017-04-20,61.105905,61.376617,60.807191,61.143246,22299500,0.0,0
4,2017-04-21,61.301955,62.263443,61.096587,61.983402,32522600,0.0,0

In [12]:
df_stock.index=df_stock.index.date
df_stock=df_stock[['close', 'symbol']]

AttributeError: 'RangeIndex' object has no attribute 'date'

In [33]:
stock='WSRD.TO'
period='5y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock.loc[:,'Symbol'] = stock

In [34]:
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2020-06-17,24.714266,24.743781,24.694589,24.704428,6200,0.0,0,WSRD.TO
2020-06-18,24.596206,24.596206,24.487982,24.487982,12200,0.0,0,WSRD.TO
2020-06-19,24.586365,24.586365,24.399433,24.399433,3200,0.0,0,WSRD.TO
2020-06-22,24.527336,24.527336,24.527336,24.527336,200,0.0,0,WSRD.TO
2020-06-23,24.743781,24.822489,24.743781,24.822489,1600,0.0,0,WSRD.TO

In [36]:
type(st)

yfinance.ticker.Ticker

In [37]:
df_stock.loc[:,'Symbol'] = stock

In [38]:
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2020-06-17,24.714266,24.743781,24.694589,24.704428,6200,0.0,0,WSRD.TO
2020-06-18,24.596206,24.596206,24.487982,24.487982,12200,0.0,0,WSRD.TO
2020-06-19,24.586365,24.586365,24.399433,24.399433,3200,0.0,0,WSRD.TO
2020-06-22,24.527336,24.527336,24.527336,24.527336,200,0.0,0,WSRD.TO
2020-06-23,24.743781,24.822489,24.743781,24.822489,1600,0.0,0,WSRD.TO

In [39]:
st.info

{'exchange': 'TOR',
 'shortName': 'WEALTHSIMPLE DEV MKT EX NA SOC ',
 'longName': 'Wealthsimple Developed Markets ex North America Socially Responsible Index ETF',
 'exchangeTimezoneName': 'America/Toronto',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'ETF',
 'symbol': 'WSRD.TO',
 'messageBoardId': 'finmb_652192029',
 'market': 'ca_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': 0,
 'profitMargins': None,
 'enterpriseToEbitda': None,
 '52WeekChange': None,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'fundInceptionDate': 1592265600,
 'annualReportExpenseRatio': None,
 'totalAssets': 471985760,
 'bookValue': None,
 'fundFamily': 'Mackenzie Financial Corporation',
 'lastFiscalYearEnd': None,
 'netIncomeToCommon': None,
 'trailingEps': None,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': None,
 'nextFiscalYearEnd': None,
 'yield': 0.012,
 'mostRecentQuarter': None,
 'enterpriseValue': None,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': 'Exchange Traded Fund',
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': None,
 'pegRatio': None,
 'ytdReturn': None,
 'forwardPE': None,
 'maxAge': 1,
 'lastCapGain': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'phone': 'NA',
 'longBusinessSummary': 'NA',
 'companyOfficers': [],
 'previousClose': 26.86,
 'regularMarketOpen': 26.78,
 'twoHundredDayAverage': 30.831276,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 26.78,
 'navPrice': 27.01,
 'averageDailyVolume10Day': 10430,
 'regularMarketPreviousClose': 26.86,
 'fiftyDayAverage': 27.7056,
 'trailingAnnualDividendRate': None,
 'open': 26.78,
 'toCurrency': None,
 'averageVolume10days': 10430,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 26.77,
 'currency': 'CAD',
 'regularMarketVolume': 414,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 22390,
 'dayLow': 26.77,
 'ask': 26.82,
 'askSize': None,
 'volume': 414,
 'fiftyTwoWeekHigh': 33.54,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 25.71,
 'bid': 26.74,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': None,
 'dayHigh': 26.78,
 'preferredPosition': None,
 'bondPosition': 0,
 'convertiblePosition': None,
 'sectorWeightings': [{'realestate': 0.0249},
  {'consumer_cyclical': 0.14729999},
  {'basic_materials': 0.0694},
  {'consumer_defensive': 0.1566},
  {'technology': 0.0723},
  {'communication_services': 0.080299996},
  {'financial_services': 0.0892},
  {'utilities': 0},
  {'industrials': 0.13859999},
  {'energy': 0},
  {'healthcare': 0.1733}],
 'holdings': [{'symbol': 'KESKOB',
   'holdingName': 'Kesko Oyj Class B',
   'holdingPercent': 0.023599999},
  {'symbol': 'ADS.DE', 'holdingName': 'adidas AG', 'holdingPercent': 0.022},
  {'symbol': '4927',
   'holdingName': 'Pola Orbis Holdings Inc',
   'holdingPercent': 0.0211},
  {'symbol': 'ITX.BC',
   'holdingName': 'Industria De Diseno Textil SA',
   'holdingPercent': 0.020599999},
  {'symbol': 'JHX',
   'holdingName': 'James Hardie Industries PLC DR',
   'holdingPercent': 0.020599999},
  {'symbol': 'LATO B',
   'holdingName': 'Investment AB Latour Class B',
   'holdingPercent': 0.0201},
  {'symbol': 'NIBE B',
   'holdingName': 'NIBE Industrier AB B',
   'holdingPercent': 0.02},
  {'symbol': '2593', 'holdingName': 'ITO EN Ltd', 'holdingPercent': 0.0197},
  {'symbol': 'ORK', 'holdingName': 'Orkla ASA', 'holdingPercent': 0.0194},
  {'symbol': 'BOL', 'holdingName': 'Boliden AB', 'holdingPercent': 0.0191}],
 'bondHoldings': {'maturity': None,
  'duration': None,
  'creditQuality': None,
  'maturityCat': None,
  'durationCat': None,
  'creditQualityCat': None},
 'bondRatings': [{'bb': 0},
  {'aa': 0},
  {'aaa': 0},
  {'a': 0},
  {'other': 0},
  {'b': 0},
  {'bbb': 0},
  {'below_b': 0},
  {'us_government': 0}],
 'equityHoldings': {'priceToCashflow': 12.01,
  'priceToSales': 1.57,
  'priceToBookCat': None,
  'priceToEarningsCat': None,
  'medianMarketCapCat': None,
  'threeYearEarningsGrowthCat': None,
  'threeYearEarningsGrowth': None,
  'medianMarketCap': None,
  'priceToEarnings': 19.89,
  'priceToBook': 2.29,
  'priceToSalesCat': None,
  'priceToCashflowCat': None},
 'otherPosition': None,
 'cashPosition': None,
 'stockPosition': 0.9967,
 'regularMarketPrice': 26.77,
 'preMarketPrice': None,
 'logo_url': ''}