In [74]:
#Adding simple Plotly Graph
import pandas as pd
import json
import plotly
import plotly.express as px


#Adding import yfinance as 
import yfinance as yf

In [75]:

# Return the JSON data for the Plotly graph
def gm(stock,period, interval):
    st = yf.Ticker(stock)
  
    # Create a line graph
    df_stock = st.history(period=(period), interval=interval)
    df_stock=  df_stock.reset_index()
    df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
    max = (df_stock['Open'].max())
    min = (df_stock['Open'].min())
    range = max - min
    margin = range * 0.05
    max = max + margin
    min = min - margin
    fig_stock = px.area(df_stock, x='Date-Time', y="Open",
        hover_data=("Open","Close","Volume"), 
        range_y=(min,max), template="seaborn" )

    # Create a JSON representation of the graph
    graphJSON_stock = json.dumps(fig_stock, cls=plotly.utils.PlotlyJSONEncoder)
    return df_stock

In [76]:
#SAMPLE DATA!!!
# data=MSFT &Â period=1d & interval=1m

stock='MSFT'
period='5y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock=  df_stock.reset_index()
df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
max = (df_stock['Open'].max())
min = (df_stock['Open'].min())
range = max - min
margin = range * 0.05
max = max + margin
min = min - margin
fig_stock = px.line(df_stock, x='Date-Time', y="Open",hover_data=("Open","Close","Volume"), range_y=(min,max), template="seaborn" )

In [77]:
df_stock.head()
#df_stock.describe()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-04-17,60.713845,61.133910,60.685841,61.124580,16689300,0.0,0
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0
2,2017-04-19,61.283278,61.376625,60.573828,60.713852,26992800,0.0,0
3,2017-04-20,61.105913,61.376625,60.807198,61.143253,22299500,0.0,0
4,2017-04-21,61.301940,62.263428,61.096572,61.983387,32522600,0.0,0

In [78]:
import os
import requests

debugtoggle = True
# import alpaca_trade_api as tradeapi #####Commenting the deprecated way to call the API
from alpaca_trade_api.rest import REST, TimeFrame #Current way to import Alpaca API
from dotenv import load_dotenv 

# Load .env enviroment variables
load_dotenv()

# Set Alpaca API key and secret
api_key=os.getenv("ALPACA_API_KEY")

# Create the Alpaca API object
api_secret_key=os.getenv("ALPACA_SECRET_KEY")

In [79]:
# Format current date as ISO format
start_date = "2022-03-21"
end_date = "2022-03-21"

# Set the tickers
tickers = ["TSLA", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
api = REST(api_key , api_secret_key, api_version='v2')
stock_and_bond_prices = api.get_bars(tickers, TimeFrame.Day, start_date, end_date, adjustment='raw').df
#stock_and_bond_prices.index = stock_and_bond_prices.index.date

# Preview DataFrame
if (debugtoggle):
    print(f'{stock_and_bond_prices.head()}')
    #print(f'here {stock_and_bond_prices[["close","symbol"]]}')

                             open    high     low   close    volume  \
timestamp
2022-03-21 04:00:00+00:00  444.45  446.46  440.68  444.30  85377983
2022-03-21 04:00:00+00:00  915.05  942.85  907.09  921.16  27049677

                           trade_count        vwap symbol
timestamp
2022-03-21 04:00:00+00:00       912432  443.796432    SPY
2022-03-21 04:00:00+00:00       736831  922.470994   TSLA

In [80]:
# Pick AGG and SPY close prices
stock_and_bond_prices = stock_and_bond_prices[["close","symbol"]]
#rslt_df = dataframe[dataframe['Percentage'] > 80]
agg_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="TSLA"].iloc[0]["close"])
spy_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="SPY"].iloc[0]["close"])
# Print AGG and SPY close prices
print(f"Current TSLA closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

Current TSLA closing price: $921.16
Current SPY closing price: $444.3

In [81]:

# Set current amount of shares
my_agg = 200
my_spy = 50

my_spy = 50
my_agg = 200

# Compute the current value of shares
my_spy_value = my_spy * spy_close_price
my_agg_value = my_agg * agg_close_price

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:,.2f}")
print(f"The current value of your {my_agg} TSLA shares is ${my_agg_value:,.2f}")

The current value of your 50 SPY shares is $22,215.00
The current value of your 200 TSLA shares is $184,232.00

In [82]:

df_stock.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1260.000000,1260.000000,1260.000000,1260.000000,1.260000e+03,1260.000000,1260.0
mean,164.891629,166.491850,163.171267,164.923720,2.930228e+07,0.007794,0.0
std,80.696890,81.491664,79.815878,80.697962,1.299302e+07,0.062024,0.0
min,60.713845,61.133910,60.573828,60.713852,7.425600e+06,0.000000,0.0
25%,97.688180,98.200928,96.551543,97.631819,2.117492e+07,0.000000,0.0
50%,136.629522,137.618161,135.222225,136.346893,2.607120e+07,0.000000,0.0
75%,223.989731,225.890449,221.299647,222.882015,3.352010e+07,0.000000,0.0
max,343.908878,348.948476,341.493913,342.402008,1.112421e+08,0.620000,0.0

In [83]:
df_stock.head()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-04-17,60.713845,61.133910,60.685841,61.124580,16689300,0.0,0
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0
2,2017-04-19,61.283278,61.376625,60.573828,60.713852,26992800,0.0,0
3,2017-04-20,61.105913,61.376625,60.807198,61.143253,22299500,0.0,0
4,2017-04-21,61.301940,62.263428,61.096572,61.983387,32522600,0.0,0

In [84]:
df_stock.index=df_stock.index.date
df_stock=df_stock[['close', 'symbol']]

AttributeError: 'RangeIndex' object has no attribute 'date'

In [ ]:
stock='U'
period='1y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock.loc[:,'Symbol'] = stock

In [ ]:
df_stock.head()

In [ ]:
type(st)

In [85]:
df_stock.loc[:,'Symbol'] = stock

In [86]:
df_stock.head()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,2017-04-17,60.713845,61.133910,60.685841,61.124580,16689300,0.0,0,MSFT
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0,MSFT
2,2017-04-19,61.283278,61.376625,60.573828,60.713852,26992800,0.0,0,MSFT
3,2017-04-20,61.105913,61.376625,60.807198,61.143253,22299500,0.0,0,MSFT
4,2017-04-21,61.301940,62.263428,61.096572,61.983387,32522600,0.0,0,MSFT

In [87]:
st.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'SoftwareâInfrastructure',
 'ebitdaMargins': 0.49123,
 'profitMargins': 0.38498002,
 'grossMargins': 0.68825996,
 'operatingCashflow': 83909001216,
 'revenueGrowth': 0.201,
 'operatingMargins': 0.42523998,
 'ebitda': 90829996032,
 'targetLowPrice': 306.55,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 46479876096,
 'targetMedianPrice': 370,
 'currentPrice': 279.83,
 'earningsGrowth': 0.222,
 'currentRatio': 2.247,
 'returnOnAssets': 0.15248999,
 'numberOfAnalystOpinions': 45,
 'targetMeanPrice': 370.36,
 'debtToEquity': 50.217,
 'returnOnEquity': 0.49051,
 'targetHighPrice': 425,
 'totalCash': 125348003840,
 'totalDebt': 80353001472,
 'totalRevenue': 184902991872,
 'totalCashPerShare': 16.72,
 'financialCurrency': 'USD',
 'revenuePerShare': 24.585,
 'quickRatio': 2.05,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 11.418,
 'beta3Year': None,
 'enterpriseToEbitda': 23.244,
 '52WeekChange': 0.081510425,
 'morningStarRiskRating': None,
 'forwardEps': 10.73,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7496869888,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.335,
 'sharesShort': 36814442,
 'sharesPercentSharesOut': 0.0049,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71901,
 'netIncomeToCommon': 71184998400,
 'trailingEps': 9.389,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': 0.05508423,
 'priceToBook': 13.116007,
 'heldPercentInsiders': 0.00059,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': 1.15,
 'sharesShortPreviousMonthDate': 1646006400,
 'floatShares': 7489894342,
 'beta': 0.908333,
 'enterpriseValue': 2111253774336,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1644969600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.214,
 'priceToSalesTrailing12Months': 11.345674,
 'dateShortInterest': 1648684800,
 'pegRatio': 1.92,
 'ytdReturn': None,
 'forwardPE': 26.079218,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0049,
 'sharesShortPriorMonth': 41488998,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 287.62,
 'regularMarketOpen': 288.09,
 'twoHundredDayAverage': 304.95544,
 'trailingAnnualDividendYield': 0.00820527,
 'payoutRatio': 0.2449,
 'volume24Hr': None,
 'regularMarketDayHigh': 288.305,
 'navPrice': None,
 'averageDailyVolume10Day': 28595150,
 'regularMarketPreviousClose': 287.62,
 'fiftyDayAverage': 296.4752,
 'trailingAnnualDividendRate': 2.36,
 'open': 288.09,
 'toCurrency': None,
 'averageVolume10days': 28595150,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1652832000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 279.32,
 'currency': 'USD',
 'trailingPE': 29.804026,
 'regularMarketVolume': 28221607,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2097849040896,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 36972357,
 'dayLow': 279.32,
 'ask': 0,
 'askSize': 900,
 'volume': 28221607,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.32,
 'fiftyTwoWeekLow': 238.07,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0086,
 'bidSize': 800,
 'dayHigh': 288.305,
 'regularMarketPrice': 279.83,
 'preMarketPrice': 278.94,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.9143}

In [89]:
start_date = "2019-04-10"
end_date = "2022-04-10"
# Set the tickers
# tickers = "AAPL"
tickers = stock
timeframe = "1D"
api = REST(api_key, api_secret_key, api_version='v2')
df2 = api.get_bars(tickers, TimeFrame.Day, start_date, end_date, adjustment='raw').df
df2.loc[:,'symbol'] = tickers
max = (df2['close'].max())
min = (df2['close'].min())
range = max - min
margin = range * 0.05
max = max + margin
min = min - margin
fig_stock = px.area(df2, x=df2.index, y="open", hover_data=("symbol","open","close","volume"), range_y=(min,max), template="seaborn" )
graphJSON = json.dumps(fig_stock, cls=plotly.utils.PlotlyJSONEncoder)

In [92]:
df2.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2019-04-10 04:00:00+00:00,119.75,120.35,119.54,120.19,16519313,111591,120.047306,MSFT
2019-04-11 04:00:00+00:00,120.50,120.85,119.92,120.33,14209236,112622,120.233174,MSFT
2019-04-12 04:00:00+00:00,120.71,120.98,120.37,120.95,19745198,124456,120.726632,MSFT
2019-04-15 04:00:00+00:00,121.00,121.58,120.57,121.05,15792742,112379,121.031810,MSFT
2019-04-16 04:00:00+00:00,121.55,121.65,120.10,120.77,14072387,111987,120.997512,MSFT

In [93]:
pivottable = pd.pivot_table(df2, values='close', index=df2.index, columns=['symbol'])
pivottable

symbol                       MSFT
timestamp
2019-04-10 04:00:00+00:00  120.19
2019-04-11 04:00:00+00:00  120.33
2019-04-12 04:00:00+00:00  120.95
2019-04-15 04:00:00+00:00  121.05
2019-04-16 04:00:00+00:00  120.77
...                           ...
2022-04-04 04:00:00+00:00  314.97
2022-04-05 04:00:00+00:00  310.88
2022-04-06 04:00:00+00:00  299.50
2022-04-07 04:00:00+00:00  301.37
2022-04-08 04:00:00+00:00  296.97

[757 rows x 1 columns]

In [99]:
from MCForecastTools import MCSimulation
pivottable = pd.pivot_table(df2, values='close', index=df2.index, columns=['symbol'])
ticker_name = [(x,'close') for x in pivottable.columns]
micolumns = pd.MultiIndex.from_tuples(ticker_name)
pivottable.columns = micolumns
pivottable

                             MSFT
                            close
timestamp
2019-04-10 04:00:00+00:00  120.19
2019-04-11 04:00:00+00:00  120.33
2019-04-12 04:00:00+00:00  120.95
2019-04-15 04:00:00+00:00  121.05
2019-04-16 04:00:00+00:00  120.77
...                           ...
2022-04-04 04:00:00+00:00  314.97
2022-04-05 04:00:00+00:00  310.88
2022-04-06 04:00:00+00:00  299.50
2022-04-07 04:00:00+00:00  301.37
2022-04-08 04:00:00+00:00  296.97

[757 rows x 1 columns]

In [104]:
MC_5years = MCSimulation(
    portfolio_data = pivottable,
    weights = [1],
    num_simulation = 100,
    num_trading_days = 252*30
)

In [105]:
MC_5years.portfolio_data.head()

                             MSFT
                            close daily_return
timestamp
2019-04-10 04:00:00+00:00  120.19          NaN
2019-04-11 04:00:00+00:00  120.33     0.001165
2019-04-12 04:00:00+00:00  120.95     0.005152
2019-04-15 04:00:00+00:00  121.05     0.000827
2019-04-16 04:00:00+00:00  120.77    -0.002313

In [106]:
MC_5years.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.993254,1.044289,0.992284,0.995705,1.020870,1.022302,1.002070,1.002284,0.992958,1.010406,...,1.014201,1.004236,0.999503,1.028866,1.009470,1.019837,1.010075,0.993068,1.010116,0.977444
2,0.976552,1.029516,1.009343,1.010623,1.060837,1.032682,0.970368,1.011340,1.016039,1.003542,...,0.992236,1.006946,0.999320,1.008669,1.018065,1.041550,0.999741,1.015284,1.014872,1.018675
3,0.980596,1.022839,1.023124,0.983462,1.057971,1.011519,0.967415,1.003453,1.018607,1.049054,...,0.985603,1.038472,0.999642,1.007840,1.040672,1.046341,1.042681,1.010335,1.021537,1.012529
4,0.938528,1.047720,0.998301,0.929542,1.091719,1.041335,0.959297,0.991655,1.025899,1.072827,...,0.955950,1.059119,0.982325,0.989378,0.992737,1.038748,1.034463,1.011325,1.039248,0.994471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7556,3514.331867,98875.787850,14543.016419,27839.427144,63500.799367,32749.059037,5273.377285,14141.693333,42454.482099,87.695164,...,26865.827724,1239.448770,5295.403252,133839.225342,12863.859921,8284.538330,18209.487079,14009.608260,477.935093,11583.362044
7557,3664.835575,100312.566043,14110.310087,27870.606379,64541.031993,32947.709247,5345.124601,13936.917967,42213.373638,88.336742,...,26961.167829,1243.446155,5186.080757,134795.996897,12972.596462,8269.688555,18212.627947,14309.828248,467.824030,11405.613591
7558,3564.443472,99695.280968,14297.879598,28469.201747,64298.604050,31930.986094,5231.073497,13985.338148,42394.160332,85.973979,...,27276.073461,1251.945894,5224.514495,135708.629321,12891.283231,8397.696234,18283.607561,14480.912295,466.165759,11329.747362
7559,3531.280569,101330.135654,14408.713334,28203.919438,66196.405634,32321.265299,5295.109958,13835.907617,43494.871180,86.493420,...,26711.102059,1266.583935,5293.045885,135276.510416,12814.868707,8386.143251,18362.540239,14518.375002,450.491736,11590.045511
7560,3533.453659,102264.430817,14570.222198,28692.971026,67853.458672,33292.685862,5452.504673,13770.619583,43822.673048,88.312276,...,26400.620113,1240.793088,5481.719405,133230.329161,12661.475867,8401.731876,18259.939765,14456.767484,448.186095,11789.112047