In [2]:
#Adding simple Plotly Graph
import pandas as pd
import json
import plotly
import plotly.express as px


#Adding import yfinance as 
import yfinance as yf

In [3]:

# Return the JSON data for the Plotly graph
def gm(stock,period, interval):
    st = yf.Ticker(stock)
  
    # Create a line graph
    df_stock = st.history(period=(period), interval=interval)
    df_stock=  df_stock.reset_index()
    df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
    max = (df_stock['Open'].max())
    min = (df_stock['Open'].min())
    range = max - min
    margin = range * 0.05
    max = max + margin
    min = min - margin
    fig_stock = px.area(df_stock, x='Date-Time', y="Open",
        hover_data=("Open","Close","Volume"), 
        range_y=(min,max), template="seaborn" )

    # Create a JSON representation of the graph
    graphJSON_stock = json.dumps(fig_stock, cls=plotly.utils.PlotlyJSONEncoder)
    return df_stock

In [4]:
#SAMPLE DATA!!!
# data=MSFT &Â period=1d & interval=1m

stock='MSFT'
period='5y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock=  df_stock.reset_index()
df_stock.columns = ['Date-Time']+list(df_stock.columns[1:])
max = (df_stock['Open'].max())
min = (df_stock['Open'].min())
range = max - min
margin = range * 0.05
max = max + margin
min = min - margin
fig_stock = px.line(df_stock, x='Date-Time', y="Open",hover_data=("Open","Close","Volume"), range_y=(min,max), template="seaborn" )

In [7]:
df_stock.head()
df_stock.describe

<bound method NDFrame.describe of       Date-Time        Open        High         Low       Close    Volume  \
0    2017-04-17   60.713841   61.133906   60.685838   61.124577  16689300
1    2017-04-18   60.984562   61.339284   60.825872   61.040569  15155600
2    2017-04-19   61.283271   61.376618   60.573820   60.713844  26992800
3    2017-04-20   61.105905   61.376617   60.807191   61.143246  22299500
4    2017-04-21   61.301955   62.263443   61.096587   61.983402  32522600
...         ...         ...         ...         ...         ...       ...
1255 2022-04-08  300.440002  301.119995  296.279999  296.970001  24347400
1256 2022-04-11  291.790009  292.609985  285.000000  285.260010  34569300
1257 2022-04-12  289.239990  290.739990  280.489990  282.059998  30966700
1258 2022-04-13  282.730011  288.579987  281.299988  287.619995  21907200
1259 2022-04-14  288.089996  288.309998  279.320007  279.829987  28107900

      Dividends  Stock Splits
0           0.0             0
1           0.0             0
2           0.0             0
3           0.0             0
4           0.0             0
...         ...           ...
1255        0.0             0
1256        0.0             0
1257        0.0             0
1258        0.0             0
1259        0.0             0

[1260 rows x 8 columns]>

In [8]:
import os
import requests

debugtoggle = True
# import alpaca_trade_api as tradeapi #####Commenting the deprecated way to call the API
from alpaca_trade_api.rest import REST, TimeFrame #Current way to import Alpaca API
from dotenv import load_dotenv 

# Load .env enviroment variables
load_dotenv()

# Set Alpaca API key and secret
api_key=os.getenv("ALPACA_API_KEY")

# Create the Alpaca API object
api_secret_key=os.getenv("ALPACA_SECRET_KEY")

In [12]:
# Format current date as ISO format
start_date = "2022-03-21"
end_date = "2022-03-21"

# Set the tickers
tickers = ["TSLA", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
api = REST(api_key , api_secret_key, api_version='v2')
stock_and_bond_prices = api.get_bars(tickers, TimeFrame.Day, start_date, end_date, adjustment='raw').df
stock_and_bond_prices.index = stock_and_bond_prices.index.date

# Preview DataFrame
if (debugtoggle):
    print(f'{stock_and_bond_prices.head()}')
    #print(f'here {stock_and_bond_prices[["close","symbol"]]}')

              open    high     low   close    volume  trade_count        vwap  \
2022-03-21  444.45  446.46  440.68  444.30  85377983       912432  443.796432
2022-03-21  915.05  942.85  907.09  921.16  27049677       736831  922.470994

           symbol
2022-03-21    SPY
2022-03-21   TSLA

In [13]:
# Pick AGG and SPY close prices
stock_and_bond_prices = stock_and_bond_prices[["close","symbol"]]
#rslt_df = dataframe[dataframe['Percentage'] > 80]
agg_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="TSLA"].iloc[0]["close"])
spy_close_price = float(stock_and_bond_prices[stock_and_bond_prices['symbol']=="SPY"].iloc[0]["close"])
# Print AGG and SPY close prices
print(f"Current TSLA closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

Current TSLA closing price: $921.16
Current SPY closing price: $444.3

In [14]:

# Set current amount of shares
my_agg = 200
my_spy = 50

my_spy = 50
my_agg = 200

# Compute the current value of shares
my_spy_value = my_spy * spy_close_price
my_agg_value = my_agg * agg_close_price

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:,.2f}")
print(f"The current value of your {my_agg} TSLA shares is ${my_agg_value:,.2f}")

The current value of your 50 SPY shares is $22,215.00
The current value of your 200 TSLA shares is $184,232.00

In [10]:

df_stock.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1260.000000,1260.000000,1260.000000,1260.000000,1.260000e+03,1260.000000,1260.0
mean,164.891628,166.491850,163.171267,164.923719,2.930228e+07,0.007794,0.0
std,80.696890,81.491664,79.815878,80.697962,1.299302e+07,0.062024,0.0
min,60.713841,61.133906,60.573820,60.713844,7.425600e+06,0.000000,0.0
25%,97.688186,98.200933,96.551552,97.631817,2.117492e+07,0.000000,0.0
50%,136.629491,137.618184,135.222233,136.346855,2.607120e+07,0.000000,0.0
75%,223.989738,225.890446,221.299655,222.882004,3.352010e+07,0.000000,0.0
max,343.908878,348.948476,341.493913,342.402008,1.112421e+08,0.620000,0.0

In [11]:
df_stock.head()

,Date-Time,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-04-17,60.713841,61.133906,60.685838,61.124577,16689300,0.0,0
1,2017-04-18,60.984562,61.339284,60.825872,61.040569,15155600,0.0,0
2,2017-04-19,61.283271,61.376618,60.573820,60.713844,26992800,0.0,0
3,2017-04-20,61.105905,61.376617,60.807191,61.143246,22299500,0.0,0
4,2017-04-21,61.301955,62.263443,61.096587,61.983402,32522600,0.0,0

In [12]:
df_stock.index=df_stock.index.date
df_stock=df_stock[['close', 'symbol']]

AttributeError: 'RangeIndex' object has no attribute 'date'

In [52]:
stock='BRK.B'
period='5y'
interval='1d'
st = yf.Ticker(stock)
df_stock = st.history(period=(period), interval=interval)
df_stock.loc[:,'Symbol'] = stock

- BRK.B: No data found, symbol may be delisted

ValueError: cannot set a frame with no defined index and a scalar

In [53]:
df_stock.head()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [48]:
type(st)

yfinance.ticker.Ticker

In [49]:
df_stock.loc[:,'Symbol'] = stock

In [50]:
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2017-04-17,26.462734,26.536833,26.296010,26.485889,22200,0.0,0.0,ENGH.TO
2017-04-18,26.513677,26.606301,26.421052,26.467365,20800,0.0,0.0,ENGH.TO
2017-04-19,26.601669,26.620195,26.402527,26.536833,73800,0.0,0.0,ENGH.TO
2017-04-20,26.444208,26.583146,26.444208,26.485889,40000,0.0,0.0,ENGH.TO
2017-04-21,26.578512,26.800810,26.434945,26.601667,68200,0.0,0.0,ENGH.TO

In [51]:
st.info

{'zip': 'L3R 0G4',
 'sector': 'Technology',
 'fullTimeEmployees': 1813,
 'longBusinessSummary': "Enghouse Systems Limited, together with its subsidiaries, develops enterprise software solutions worldwide. It operates through two segments, Interactive Management Group and Asset Management Group. The Interactive Management Group segment provides customer interaction software and services to facilitate remote work, enhance customer service, increase efficiency, and manage customer communications across various types of interactions, including voice, email, web chats, text, and video. Its technologies include contact center, video collaboration, interactive voice response, outbound dialers, attendant console, agent performance optimization, business intelligence, and analytics that deployed in private cloud, multi-tenant cloud, or on-premise environments. This segment serves insurance companies, telecoms, banks, business process service providers, as well as technology and health care companies. The Asset Management Group segment offers a portfolio of software and services to cable operators, network telecommunication providers, media, transit, defense, and public safety companies. This segment's products include network infrastructure, operations support systems, and business support systems, as well as video and cloud TV solutions. This segment also provides fleet routing, dispatch, scheduling, transit e-ticketing and automated fare collection, communications, and emergency control center solutions for the transportation, government, first responders, distribution, and security sectors. Enghouse Systems Limited was incorporated in 1984 and is headquartered in Markham, Canada.",
 'city': 'Markham',
 'state': 'ON',
 'country': 'Canada',
 'companyOfficers': [],
 'website': 'https://www.enghouse.com',
 'maxAge': 1,
 'address1': '80 Tiverton Court',
 'fax': '905 946 3201',
 'industry': 'SoftwareâApplication',
 'address2': 'Suite 800',
 'ebitdaMargins': 0.29159,
 'profitMargins': 0.20417,
 'grossMargins': 0.71482,
 'operatingCashflow': 122257000,
 'revenueGrowth': -0.067,
 'operatingMargins': 0.23841,
 'ebitda': 133890000,
 'targetLowPrice': 47,
 'recommendationKey': 'buy',
 'grossProfits': 337550000,
 'freeCashflow': 4641625,
 'targetMedianPrice': 50,
 'currentPrice': 37.29,
 'earningsGrowth': 0.051,
 'currentRatio': 1.831,
 'returnOnAssets': 0.09169,
 'numberOfAnalystOpinions': 3,
 'targetMeanPrice': 50.67,
 'debtToEquity': 5.093,
 'returnOnEquity': 0.20975,
 'targetHighPrice': 55,
 'totalCash': 214814000,
 'totalDebt': 24019000,
 'totalRevenue': 459179008,
 'totalCashPerShare': 3.867,
 'financialCurrency': 'CAD',
 'revenuePerShare': 8.273,
 'quickRatio': 1.757,
 'recommendationMean': 2,
 'exchange': 'TOR',
 'shortName': 'ENGHOUSE SYSTEMS LIMITED',
 'longName': 'Enghouse Systems Limited',
 'exchangeTimezoneName': 'America/Toronto',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'ENGH.TO',
 'messageBoardId': 'finmb_707447',
 'market': 'ca_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.339,
 'beta3Year': None,
 'enterpriseToEbitda': 14.881,
 '52WeekChange': -0.35828602,
 'morningStarRiskRating': None,
 'forwardEps': 1.8,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 55553400,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 8.488,
 'sharesShort': 502100,
 'sharesPercentSharesOut': 0.009,
 'fundFamily': None,
 'lastFiscalYearEnd': 1635638400,
 'heldPercentInstitutions': 0.36469,
 'netIncomeToCommon': 93749000,
 'trailingEps': 1.68,
 'lastDividendValue': 0.16,
 'SandP52WeekChange': 0.05508423,
 'priceToBook': 4.3932614,
 'heldPercentInsiders': 0.22371,
 'nextFiscalYearEnd': 1698710400,
 'yield': None,
 'mostRecentQuarter': 1643587200,
 'shortRatio': 3.51,
 'sharesShortPreviousMonthDate': 1646006400,
 'floatShares': 45109936,
 'beta': 0.800759,
 'enterpriseValue': 1992454528,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1548633600,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1644537600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.046,
 'priceToSalesTrailing12Months': 4.5115004,
 'dateShortInterest': 1648684800,
 'pegRatio': 10.8,
 'ytdReturn': None,
 'forwardPE': 20.716667,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': 530410,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 39.3,
 'regularMarketOpen': 39.32,
 'twoHundredDayAverage': 50.60455,
 'trailingAnnualDividendYield': 0.01692112,
 'payoutRatio': 0.3661,
 'volume24Hr': None,
 'regularMarketDayHigh': 39.32,
 'navPrice': None,
 'averageDailyVolume10Day': 89640,
 'regularMarketPreviousClose': 39.3,
 'fiftyDayAverage': 40.128,
 'trailingAnnualDividendRate': 0.665,
 'open': 39.32,
 'toCurrency': None,
 'averageVolume10days': 89640,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.74,
 'exDividendDate': 1652659200,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 37.29,
 'currency': 'CAD',
 'trailingPE': 22.19643,
 'regularMarketVolume': 99173,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2071586304,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 129473,
 'dayLow': 37.29,
 'ask': 37.35,
 'askSize': 0,
 'volume': 99173,
 'fiftyTwoWeekHigh': 64.42,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.04,
 'fiftyTwoWeekLow': 34.21,
 'bid': 37.3,
 'tradeable': False,
 'dividendYield': 0.0188,
 'bidSize': 0,
 'dayHigh': 39.32,
 'regularMarketPrice': 37.29,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/enghouse.com'}